@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html, body {
  background: #2b414d !important;
  color: #fffce1;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

  div[id^="bloque"]{ display:none; }
  
  .cajaPregunta{
    position: relative;
    width: 100%;
    left: -1500px;
    margin: 0;
    font-weight: 400;
    font-size: 3.3em;
    padding: 2em 10% 0;
    text-shadow: 0 6px 6px rgba(0,0,0,1.05);
    font-family: 'Lato', Calibri, Arial, sans-serif;
    border: 0;
    color: #fff;
  }

  .cajaPregunta:before{
    /*content: '\201C';*/
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 3em;
    color: rgba(43,65,77,0.1);
    z-index: -1;
  }

  .cajaRespuestas{
    position: relative;
    width: 100%;
    right: -1500px;
  }
  
  /*Cambiar de with de momento*/
  ul{ position: relative; list-style: none; width: 100%; padding: 0; text-align: center; }
  .resp{
    position: relative;
    margin-left: 1px;
    display: inline-block;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    color: #fff;
    width: 165px;
    height: 48px;
    border: 1px solid #fff;
    background: #E74C3C;
    padding: 10px; 
  }

  .dragResp{
    position: relative;
    margin-left: 1px;
    display: inline-block;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    color: black;
    width: 165px;
    height: 48px;
    border: 1px solid #fff;
    background: #EEE666;
    padding: 10px;
    z-index:  12;
  }

  .objetoDroppable{
    width: 100%;
    height: 0px;
    position: relative;
    margin: 80px auto 0;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
    border-top: 135px solid #fff;
    z-index: 1;    
  }

  /*bloque 3 y 6*/
  td{
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1.6em;
    text-align: justify;
    padding: 4px 5px 0 !important;
    color: #fff;
    text-shadow: 0px 6px 6px rgba(0,0,0,1.05);
  }

  select{
    color: black !important;
    font-size: .8em !important;
  }
  
  /*label de formulario*/
  .formLabel{
    font-size: 1.3em;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-weight: normal;
    color: #fff;

  }

  input {
    height: 40px;
    width: 40%;
    background: #fff;
  }
    
  input:focus{
    background-color: #DEDEDE;
    border:1px solid #6FB3E8;
  }
  

  #cname, #cemail, #ctel, #cdomicilio, #ctutor{
    font-weight: bold;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #3874BB;
  }

  /* Imagen ? */
  #Signo{
    width: 130px;
    height: 130px;
  }

